
**/build
**/desktop.ini
/results_
/test
/docker_scripts
/kernels/dispositions
core

# VSCode related
*.code-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
/.polyscope.ini
/imgui.ini
/.idea/KPConv-PyTorch.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/wandb/
/Data/
